<ion-content [fullscreen]="true" class="inner-page">
  <section>
    <div class="container">
      <div class="page-header">
        <img src="./assets/images/kamet-logo-colored.png" height="32" alt="kamet logo">
      </div>
      <ion-button fill="clear" color="secondary" class="btn-back">
        <img src="./assets/images/icon-back.png" width="28"> Regresar
      </ion-button>

      <div class="content">
        <h2>Términos y condiciones</h2>

        <h3>TÉRMINOS Y CONDICIONES PARA EL USO DE LA APLICACIÓN MÓVIL</h3>
        <p>KMT CAPITAL, S.A. DE C.V. (en lo sucesivo, “Kamet”), con domicilio en Bosque de Radiatas número 22, planta
          baja, oficina 1, por este medio comunica y da a conocer los términos y condiciones aplicables a todas aquellas
          personas que mediante equipos de cómputo, teléfonos móviles, tabletas o cualquier otro equipo electrónico de
          comunicación (en los sucesivo, los “Usuarios”) ingresen o hagan uso de la página de internet <a
            href="https://www.kamet.mx">www.kamet.mx</a> (en lo sucesivo, el “Sitio Web”), así como de la aplicación
          móvil de
          Kamet (en lo sucesivo, “Aplicación Móvil”), a las cuales en conjunto se les denominará las “Plataformas”.</p>

        <p>Recomendamos al Usuario leer con detenimiento los presentes términos y condiciones antes de navegar o
          utilizar cualquier servicio, ya que el hacer uso del Sitio Web o Aplicación Móvil implica la aceptación del
          presente documento. En caso de no estar de acuerdo ya sea con los términos y condiciones o el aviso de
          privacidad, el Usuario deberá abstenerse de acceder o utilizar las Plataformas.</p>
        <p>Kamet podrá en todo momento modificar, actualizar, extender o de cualquier otra forma cambiar el contenido y
          alcance de los presentes Términos y Condiciones, notificando en las Plataformas sobre dichas modificaciones.
        </p>

        <ol>
          <li>
            <div class="title">Acceso al Sitio Web y Aplicación Móvil</div>
            <p>El acceso y uso del Sitio Web y Aplicación Móvil implica la adhesión plena y sin reservas a los términos
              y condiciones plasmados en el presente documento.</p>
            <p>El Usuario acepta que el acceso o uso de ciertas funciones y servicios del Sitio Web y la Aplicación
              Móvil podrá ser condicionado a previa contratación, registro o activación de la cuenta, según se informe
              al Usuario, conforme a las características particulares de cada producto o servicio.</p>
            <p>Para un correcto uso y funcionamiento de las Plataformas, el Usuario deberá mantener actualizados los
              dispositivos con los que acceda a ellas, ya sea computadora, teléfono móvil o tableta (a los cuales en su
              conjunto se les denominará los “Dispositivos”), así como una adecuada conexión a internet, lo cual
              garantizará la correcta compatibilidad y funcionamiento de las Plataformas.</p>
            <p>Asimismo, la Aplicación Móvil tendrá actualizaciones periódicas con la finalidad de mejorar la
              experiencia del Usuario y en algunas ocasiones será indispensable la instalación de las actualizaciones
              para continuar disfrutando de la misma, lo cual podrá realizar desde las tiendas oficiales de aplicaciones
              como App Store y Google Play Store.</p>
            <p>En caso de que el Usuario intente acceder desde un dispositivo móvil o smartphone distinto al que utilizó
              para registrarse en el Aplicación Móvil, Kamet podrá implementar medidas para la verificación y validación
              de la identidad del Usuario para garantizar su seguridad, tales como códigos, contraseñas o información
              personal. En caso de que Kamet considere que la información proporcionada por el usuario no es suficiente
              o adecuada para validar su identidad, podrá negar el acceso y uso de la Aplicación Móvil en el nuevo
              dispositivo.</p>
            <p>Kamet podrá publicar por cualquier medio información relativa a sus servicios, así como características o
              contenido de los productos ofertados con una índole preponderantemente financiera. Asimismo, Kamet podrá
              comunicar a los Usuarios sobre promociones, descuentos o beneficios en sus productos, los cuales serán
              promocionados con sus respectivos términos y condiciones de contratación y uso. Las decisiones tomadas por
              el Usuario serán en todo momento su responsabilidad, por lo que cualquier tipo de recomendación o consejo
              financiero no deberán ser considerados como determinantes para la toma de decisiones personales.</p>
          </li>
          <li>
            <div class="title">Usos permitidos</div>
            <p>El Usuario se compromete a utilizar las funcionalidades de las Plataformas exclusivamente para las
              finalidades establecidas en cada contrato y conforme a lo permitido y previsto para cada producto o
              servicio, apegándose en todo momento a la legislación vigente en los Estados Unidos Mexicanos y/o
              legislación vigente en el país en que el Usuario se encontrase, los principios de buena fe y a los usos
              generalmente aceptados.</p>
            <p>Queda prohibido el uso de las Plataformas con fines ilícitos, o bien, cuando se utilice de tal manera que
              implique un perjuicio para su funcionamiento, ya sea limitando o impidiendo de cualquier forma su
              utilización y normal funcionamiento.</p>
            <p>Para los casos en que dentro de las Plataformas se encuentren habilitadas las funciones de generación y
              publicación de comentarios, el Usuario en ningún caso deberá introducir comentarios que se consideren
              ofensivos, infamantes, injuriosos o calumniosos, contrarios la moral, el orden público, o a la dignidad de
              las personas, o que de cualquier otra manera puedan resultar falsos, ilícitos o ilegales, los cuales
              pudieran o causar un daño o perjuicio a terceros o a Kamet. Asimismo, el Usuario deberá abstenerse de
              publicar comentarios que contengan enlaces de páginas web, así como tampoco deberá publicar los servicios
              o contenido de las Plataformas en páginas propias de terceros.</p>
            <p>El Usuario es consciente y acepta que Kamet le retire inmediatamente el acceso a las Plataformas cuando
              identifique que ha realizado cualquiera de las situaciones mencionadas en el presente apartado, o bien,
              cuando detecte que incumple con cualquier disposición contenida en los presentes términos y condiciones
              y/o el Aviso de Privacidad.</p>
            <p>El acceso y las funcionalidades de las Plataformas estarán disponibles únicamente para mayores de edad
              con quienes Kamet considere viable la contratación de productos y/o servicios, quedando expresamente
              excluidos los menores de edad y demás personas que hayan sido vetados por Kamet derivado de sus políticas
              internas o por su comportamiento crediticio.</p>
          </li>
          <li>
            <div class="title">Responsabilidades</div>
            <p>El Usuario se compromete a que toda la información personal suministrada en las Plataformas será
              verdadera y exacta, siendo ésta sustentada por documentos que acrediten su veracidad cuando le sea
              requerido, así como de proveer un correo electrónico del cual sea titular, ya que de ello dependerá la
              contratación de ciertos productos o servicios.</p>
            <p>El Usuario acepta que será el único responsable por el uso que se le dé a los dispositivos mediante los
              cuales acceda a las Plataformas, y por lo tanto, de las operaciones que se realicen desde aquél
              dispositivo, por lo que el Usuario expresamente deslinda a Kamet de cualquier responsabilidad que pudiera
              derivarse del mal uso que se le llegara a dar al dispositivo de acceso utilizado por el Usuario, así como
              de cualquier consecuencia que se derive por el acceso a páginas de internet no seguras, o bien, permitir
              voluntaria o involuntariamente que terceros tengan acceso al dispositivo e ingresen a las Plataformas.</p>
            <p>Kamet en ningún caso será responsable de los daños o pérdida de información de cualquier naturaleza que
              se suscite en los dispositivos utilizados para acceder a las Plataformas cuando dicho daño sea causado por
              culpa o negligencia del Usuario o de terceros, por el mal uso de las Plataformas, o bien, cuando se haya
              actuado en contravención de los términos y condiciones establecidos y/o aviso de privacidad.</p>
            <p>En todo momento el Usuario deberá mantener estricta confidencialidad sobre aquella información necesaria
              para acceder a cualquiera de las Plataformas, así como de cualquier información que pueda ser utilizada
              como información o datos de autenticación para contratar, utilizar o activar cualquier servicio
              proporcionado por Kamet, o bien, para instruir la realización de cualquier tipo de operación mediante las
              Plataformas, incluyendo contraseñas, Números de Identificación Personal (en lo sucesivo, “NIP”) y
              elementos o datos de autenticación. El Usuario será responsable por cualquier actividad realizada en sus
              cuentas o servicios contratados derivado de un acceso en donde se hayan verificado los datos de
              autenticación.</p>
            <p>Las Plataformas podrán contener enlaces a páginas web o aplicaciones móviles pertenecientes a terceros,
              con los cuales Kamet haya celebrado convenios. En ningún momento deberá considerarse a Kamet como
              proveedor de los bienes o servicios de terceros promocionados en las Plataformas, por lo tanto, no será
              responsable ante el cliente de los servicios o productos contratados en sitios que no pertenezcan a Kamet.
              La promoción de enlaces a páginas web o aplicaciones móviles no se entenderá como una recomendación por
              parte de Kamet, ni tampoco la contratación o adquisición de bienes o servicios que se promocionen en
              dichos enlaces o aplicaciones. El acceso a páginas web de terceros utilizando los enlaces contenidos en
              las Plataformas se realizarán bajo riesgo del Usuario, quien acepta el ingreso y/o contratación bajo los
              términos y condiciones particulares de los terceros. Kamet no asume responsabilidad alguna por la
              seguridad, existencia o correspondencia de los enlaces o cualquier información proveniente de canales
              externos a las Plataformas.</p>
          </li>
          <li>
            <div class="title">Propiedad intelectual</div>
            <p>El Usuario se compromete a respetar en todo momento la propiedad intelectual de los elementos contenidos
              en las Plataformas, los cuales incluyen lo siguiente: a) marcas, nombres de empresas, nombres de
              servicios, contenido publicitario, textos, diseños, imagen comercial, logotipos, imágenes y demás signos
              distintivos; b) bases de datos, estructura, marcas y demás elementos, relativos a patentes, solicitudes de
              patentes y cualquier renovación relacionada a las mismas; c) diseños industriales registrados, así como
              sus renovaciones y/o ampliaciones; d) demás derechos de autor, programas informáticos y todo los elementos
              relacionados a éstos.</p>
            <p>El Usuario deberá abstenerse de reproducir, transmitir, adaptar, imitar total o parcialmente, así como
              explotar en cualquier sentido para beneficio propio o de terceros, con una finalidad distinta a la
              expresamente permitida en las Plataformas, cualquiera de los elementos mencionados en el presente apartado
              ya que los mismos se encuentran protegidos por las leyes y tratados internacionales sobre propiedad
              intelectual e industrial. Sólo podrán utilizarse los elementos pertenecientes a Kamet previa autorización
              por escrito del representante legal cuando así lo permitiera la ley. Cualquier infracción podrá implicar
              como consecuencia el inicio de procedimientos judiciales civiles o penales, según corresponda.</p>
            <p>La legitimidad de los derechos de propiedad intelectual o industrial respecto de los elementos y
              contenido publicitario de terceros que se muestre en las Plataformas es responsabilidad exclusiva de
              dichos terceros.</p>
          </li>
          <li>
            <div class="title">Uso de cookies</div>
            <p>Al acceder a las Plataformas de Kamet, el Usuario autoriza la utilización de “cookies” y tecnologías
              similares, las cuales permiten de manera automática recopilar, analizar y conservar información de
              navegación, teniendo como finalidad principal que el Usuario pueda iniciar una sesión o continuar con una
              existente, así como almacenar la configuración de cada sesión recordando las preferencias seleccionadas.
              El uso de cookies por parte de Kamet permite agilizar el acceso e interacción con el contenido de las
              Plataformas, mejorando la experiencia del Usuario, ya que permite mostrarle promociones, descuentos,
              programas y publicidad basada en los intereses de cada uno de los Usuarios.</p>
            <p>En cualquier momento, las cookies podrán ser borradas, o bloqueadas por el Usuario desde el menú de
              configuración de su explorador web. Sin embargo, debe tenerse en cuenta que la eliminación o bloqueo de
              ciertas cookies podrían afectar la experiencia del Usuario y en algunos casos podría afectar el correcto
              funcionamiento de ciertas funciones en las Plataformas.</p>
          </li>
          <li>
            <div class="title">Avisos</div>
            <p>Cualquier tipo de aviso o notificación se realizarán mediante el correo electrónico y la Aplicación Móvil
              registrados por el Usuario.</p>
            <p>En caso de que el Usuario cambie de correo electrónico o identifique algún error en la información
              proporcionada, deberá notificarlo a Kamet por medio de la Aplicación Móvil o mediante el correo
              electrónico <a href="mailto:hola@kamet.mx">hola@kamet.mx</a> dentro de los 3 días naturales siguientes a
              que suceda el cambio, pues en caso
              de no hacerlo continuarán siendo válidas las notificaciones realizadas en el correo electrónico
              inicialmente declarado por el cliente.</p>
          </li>
          <li>
            <div class="title">Legislación aplicable</div>
            <p>Los presentes términos y condiciones deberán ser interpretados bajo las leyes federales vigentes
              aplicables de los Estados Unidos Mexicanos, sometiéndose en caso de controversia a la jurisdicción de los
              tribunales federales competentes con sede en la Ciudad de México.</p>
          </li>
        </ol>
      </div>
    </div>
  </section>
</ion-content>
