<ion-content [fullscreen]="true" class="inner-page">
  <section>
    <div class="container">
      <div class="page-header">
        <img src="./assets/images/kamet-logo-colored.png" height="32" alt="kamet logo">
      </div>
      <ion-button fill="clear" color="secondary" class="btn-back">
        <img src="./assets/images/icon-back.png" width="28"> Regresar
      </ion-button>

      <div class="content">
        <h2>Aviso de Privacidad</h2>

        <ol>
          <li>
            <div class="title">Identidad y domicilio del responsable: </div>
            <p>KMT Capital, S.A. de C.V. (“Kamet”) con domicilio en calle Bosque de Radiatas número 22, planta baja,
              oficina 1, Colonia Bosque de Radiatas, Alcaldía Cuajimalpa de Morelos, Código Postal 05120 de la Ciudad de
              México y portal de internet: <a href="https://www.kamet.mx" target="_blank">www.kamet.mx</a>; de
              conformidad con lo establecido
              en la Ley Federal de
              Protección de Datos Personales en Posesión de los Particulares, su reglamento y cualquier otro
              ordenamiento que se emita en alcance de estos (“Ley de Datos Personales”), es el responsable del uso,
              tratamiento y protección de los Datos Personales que sus clientes como titulares le otorguen en términos
              del presente aviso de privacidad ( el “Aviso”) y cuenta con los siguientes datos de contacto:</p>
            <p>Email: hola@kamet.mx</p>
            <p>Teléfono: 5543440469</p>
            <p>Al respecto informamos lo siguiente:  </p>
          </li>
          <li>
            <div class="title">Finalidades del uso de datos personales:</div>
            <p>Los Datos Personales que recabamos de tu persona o de cualquier Cliente, los utilizaremos para las
              siguientes finalidades que son necesarias para las actividades relacionadas con la operación y servicio de
              tarjetas de crédito que proporcionará Kamet ("Servicio de Tarjetas"): </p>
            <p>Cabe señalar que los datos que a continuación se mencionan, se entenderán para referencia y entendimiento
              del Aviso, en su conjunto como “Datos Personales”</p>
            <p>Datos Personales que recabamos. Los Datos Personales recabados, serán tratados y resguardados con base en
              los principios establecidos en la Ley de Datos Personales, los cuales son: licitud, consentimiento,
              información, calidad, finalidad, lealtad, proporcionalidad y responsabilidad. Para cumplir con las
              finalidades que se mencionan en el Aviso, requerimos que nos proporciones:</p>

            <ol>
              <li>Datos de identificación:
                <ol>
                  <li>Nombre completo;</li>
                  <li>Registro federal de contribuyentes (RFC);</li>
                  <li>Clave única de registro de población (CURP);</li>
                  <li>Domicilio particular;</li>
                  <li>Clave De Elector;</li>
                  <li>Nacionalidad;</li>
                  <li>Género;</li>
                  <li>Fecha De Registro; y,</li>
                  <li>Fecha de Nacimiento.</li>
                </ol>
              </li>
              <li>Datos de contacto:
                <ol>
                  <li>Números de teléfono celular; y,</li>
                  <li>Correo electrónico.</li>
                </ol>
              </li>
              <li>Datos financieros:
                <ol>
                  <li>Información proporcionada por las instituciones de información crediticia;</li>
                  <li>Estados de cuenta bancarios proporcionados; y,</li>
                  <li>Comprobante de ingresos proporcionados.</li>
                </ol>
              </li>
              <li>Datos biométricos:
                <ol>
                  <li>Propiedades físicas, fisiológicas, de comportamiento o rasgos de la personalidad atribuibles a una
                    sola persona y que son medibles, tales como fotografías del rostro. </li>
                </ol>
              </li>
            </ol>
            <p>Política de uso de datos biométricos. Al activar la funcionalidad de acceso y autenticación a nuestros
              Servicios, a través de medios biométricos, aceptas los siguientes términos respecto al uso de tus datos
              biométricos: a) Kamet no almacena, copia o resguarda los datos biométricos que utilizas para acceder y
              autenticarte al momento de iniciar sesión dentro de nuestras plataformas digitales; b) los datos
              biométricos utilizados como medio para acceder y autenticarte dentro de nuestras plataformas digitales, se
              crean y almacenan dentro de tu dispositivo móvil personal, según lo dispuesto por las políticas de
              privacidad publicadas por el desarrollador y comercializador de dicho sistema operativo; c) los datos
              biométricos ser utilizarán únicamente con la finalidad de identificarse al momento de acceder a las
              plataformas digitales así como para autorizar operaciones en las mismas. </p>
            <p>Podrás cancelar el acceso y autenticación de tus medios biométricos, a través del procedimiento de
              acceso, rectificación, cancelación u oposición previsto en el Aviso.</p>

            <p style="margin-bottom: 1rem;"><strong>a) Finalidades principales:</strong></p>
            <p>La realización de todas las actividades relacionadas con el Servicio de Tarjetas, que incluyen: a) el
              cumplimiento de la relación contractual derivada del Servicio de Tarjetas; b) el procesamiento de
              solicitudes, emisión, administración, envío y activación del Servicio de Tarjetas; actividades de
              cobranza, incluyendo el envío de comunicaciones a través de correos electrónicos, llamadas telefónicas,
              servicios de mensajería instantánea, mensajes cortos y demás medios de comunicación físicos y/o
              electrónicos; aclaración, investigación y facturación de cargos relacionados con el Servicio de Tarjetas;
              realizar investigaciones y monitoreo periódicos sobre su comportamiento crediticio; realizar visitas
              domiciliarias para validaciones de datos, entrega de las tarjetas físicas o digitales y/o para la gestión
              de solicitudes; creación de perfiles de consumo, promedios de gastos e inscripciones, acumulación de
              puntos y administración de programas de lealtad tanto propios como de terceros; c) generar datos de
              autenticación para, por un lado, crear un perfil de acceso a los sistemas electrónicos para prestar
              atención personalizada y, por el otro, acreditar tu identidad cuando utilices equipos o sistemas
              electrónicos y/o automatizados para la prestación de nuestros servicios; si te encuentras en nuestras
              instalaciones, para mantener el control de acceso y mantenimiento de programas para garantizar la
              seguridad y protección de clientes, empleados, visitantes y proveedores por medio de dispositivos y medios
              electrónicos, ópticos o por cualquier otra tecnología; d) acreditar tu identidad conforme a los
              procedimientos internos de Kamet, incluyendo el solicitar información de carácter crediticio para cotejar
              y/o validar dicha información, o incluso información demográfica, como domicilio, con la sociedad de
              información crediticia de nuestra preferencia; e) la creación e implementación de procesos analíticos y
              estadísticos necesarios para la prestación del Servicio de Tarjetas; f) contactar a nuestros Clientes para
              cualquier tema relacionado al Servicio de Tarjetas o al presente Aviso; g) la originación, operación,
              gestión, procesamiento y administración de los productos y/o servicios contratados con Kamet, estando esta
              última facultada para: i) realizar la verificación y/o validación de los Datos Personales proporcionados,
              incluyendo la veracidad de los mismos directamente con autoridades gubernamentales y/o contra bases de
              datos de entidades públicas; y, ii) en caso de discrepancia, llevar a cabo las rectificaciones o
              correcciones que resulten necesarias para mantener actualizada y correcta su información; h) para fines de
              auditorías internas o externas, así como para cumplir con las obligaciones de colaboración y/o
              requerimientos de información formulados por las autoridades gubernamentales competentes, cuando sea
              necesario para salvaguardar el interés público, la procuración o administración de justicia y/o en
              términos de la legislación vigente y aplicable; i) para integrar expedientes y bases de datos y, dar
              tratamiento a los mismos, ya sea directamente por Kamet o a través de terceros o proveedores necesarios
              para que Kamet pueda prestar los servicios propios de su objeto y reportar a las autoridades
              administrativas y jurisdiccionales dicha información, cuando así lo establezcan las disposiciones legales
              vigentes; y, j) para integrar expedientes y bases de datos, y dar tratamiento a los mismos</p>

            <p style="margin-bottom: 1rem;"><strong>b) Finalidades Secundarias:</strong></p>
            <p>De manera adicional, utilizaremos tus Datos Personales para las siguientes finalidades secundarias que no
              son necesarias para el Servicio de Tarjetas, pero que nos permiten y facilitan brindarle una mejor
              atención: a) hacer consultas, encuestas, investigaciones y revisiones en relación a quejas y/o
              reclamaciones; b) evaluar la calidad de los servicios mediante encuestas; c) envío por parte de Kamet, de
              toda clase de avisos, notificaciones, comunicaciones, encuestas de servicio e información adicional
              relacionada con los productos y servicios contratados y monitoreo mediante llamadas telefónicas, correos
              electrónicos, mensajes de texto y/o cualquier otro medio de contacto, respecto de cualquier actividad que
              se relacione directa o indirectamente con los productos y/o servicios que ofrece Kamet; d) monitoreo y
              grabación de las sesiones de nuestros clientes dentro de la o las plataformas tecnológicas utilizadas por
              Kamet para la prestación de los Servicios de Tarjetas y medir la calidad de los mismos, investigación
              respecto al uso de la tecnología desarrollada por Kamet, entendimiento de hábitos transaccionales del
              cliente; e) mercadotecnia o publicidad; y, f) prospección comercial. </p>
          </li>
          <li>
            <div class="title">Transferencias de datos personales: </div>
            <p>Las transferencias son comunicaciones de Datos Personales realizadas a otras personas distintas a Kamet;
              en este sentido, hacemos de tu conocimiento que Kamet transfiere tus Datos Personales únicamente en los
              siguientes casos: </p>
            <ol>
              <li>Instituciones financieras cuando Kamet ceda, transmita, transfiera, afecte, grave o negocie, en
                cualquier forma, los derechos de crédito derivado del Servicio de Tarjetas o de aquellos que se
                registren al amparo de los contratos de apertura de crédito en cuenta corriente; </li>
              <li>al Instituto Nacional Electoral (“INE”) con la intención de que pueda verificar tu identidad, a través
                de datos biométricos, tales como: biometría facial para así comparar esta información con los datos que
                obran en poder del INE, en específico con la credencial para votar;</li>
              <li>los auditores internos o externos para llevar a cabo las actividades inherentes a revisiones o
                evaluaciones de la información de Kamet;</li>
              <li>socios comerciales con los que Kamet colabore para brindar el Servicio de Tarjetas y tenga celebrados
                contratos de comercialización;</li>
              <li>sociedades subsidiarias o afiliadas bajo el control común de Kamet o cualquier sociedad del mismo
                grupo que opere bajo los mismos procesos y políticas internas;</li>
              <li>autoridades competentes, en los casos legalmente previstos;</li>
              <li>proveedores en el manejo de riesgos, software o de seguridad en cualquier entorno;</li>
              <li>sociedades de información crediticia para cumplir con las obligaciones derivadas de la relación
                jurídica entre tú y Kamet, así como cumplir con las disposiciones legales vigentes;</li>
              <li>fedatarios públicos para la instrumentación y/o fe de hechos de operaciones de crédito;</li>
              <li>instituciones financieras a efecto de cumplir con la portabilidad y/o movilidad de productos
                financieros; y,</li>
              <li>fusión o escisiones de Kamet.</li>
            </ol>
            <p>Si no manifiestas tu oposición para que tus Datos Personales sean transferidos, se entenderá que ha
              otorgado su consentimiento para ello.</p>
          </li>
          <li>
            <div class="title">Medios y procedimientos para ejercer los derechos arco y/o revocación de consentimiento
              para el tratamiento de datos personales:</div>
            <p>Derechos ARCO (acceder, rectificar, cancelar u oponerse), tienes derecho a conocer qué Datos Personales
              obtenemos y para qué los utilizamos y las condiciones del uso que les damos (Acceso). Asimismo, es tu
              derecho solicitar la corrección de tu información personal en caso de que esté desactualizada, sea
              inexacta o incompleta (Rectificación); que la eliminemos de nuestros registros o bases de datos cuando
              consideres que la misma no está siendo utilizada adecuadamente (Cancelación); así como oponerte al uso de
              sus Datos Personales para fines específicos (Oposición). </p>
            <p>Estos derechos se conocen como derechos ARCO. Para el ejercicio de cualquiera de los derechos ARCO,
              deberás presentar la solicitud respectiva a través del siguiente medio: e mail: hola@kamet.mx, o bien, al
              domicilio y teléfono relacionados en el primer párrafo del Aviso.</p>
            <p>Los datos de contacto de la persona o departamento de Datos Personales, que está a cargo de dar trámite a
              las solicitudes de derechos ARCO, son los siguientes: Departamento Privacidad Kamet, email: hola@kamet.mx
              y horario de atención de 9:00 a 15:00 horas de lunes a viernes; tú puedes revocar el consentimiento que,
              en su caso, nos hayas otorgado para el tratamiento de tus Datos Personales. Sin embargo, es importante que
              tengas en cuenta que no en todos los casos podremos atender tu solicitud o concluir el uso de forma
              inmediata, ya que es posible que por alguna obligación legal requiramos seguir tratando tus Datos
              Personales. </p>
            <p>Asimismo, deberás considerar que para ciertos fines, la revocación de tu consentimiento implica que no te
              podamos seguir prestando el Servicio de Tarjetas, o la conclusión de tu relación con nosotros. Para
              revocar tu consentimiento deberás presentar tu solicitud a través de los medios establecidos en el párrafo
              anterior de este apartado. </p>
            <p>Limitación del uso o divulgación de tus Datos Personales. Con el objeto de que puedas limitar el uso y
              divulgación de tu información personal, te ofrecemos presentar tu solicitud a través de los medios
              establecidos en el párrafo tercero de este apartado del Aviso . La persona que realice la solicitud para
              limitar el uso o divulgación de la información personal deberá tener la personalidad jurídica suficiente,
              por lo cual, Kamet, antes de proceder con su solicitud, le podrá solicitar que acredite su personalidad. 
            </p>
            <p>Modificaciones al Aviso. El Aviso puede sufrir modificaciones, cambios o actualizaciones derivadas de
              nuevos requerimientos legales; de nuestras propias necesidades por los productos o servicios que
              ofrecemos; de nuestras prácticas de privacidad; de cambios en nuestro modelo de negocio o por otras
              causas. </p>
            <p>Asimismo, si consideras que tu derecho a la protección de tus Datos Personales ha sido lesionado por
              alguna conducta u omisión por parte de Kamet, o presumes alguna violación a la Ley de Datos Personales,
              podrás interponer tu inconformidad o denuncia ante el Instituto Nacional de Transparencia, Acceso a la
              Información y Protección de Datos Personales (INAI). Para mayor información te sugerimos visitar su portal
              de internet: http://www.inegi.org.mx </p>
          </li>
          <li>
            <div class="title">Política de cookies u otras tecnologías:</div>
            <ol>
              <li>¿Qué es una cookie?
                <ol>
                  <li>Son datos almacenados en los dispositivos del usuario, estando conectado a internet, al navegar o
                    acceder en determinadas páginas de internet y que permiten al servidor de internet recordar algunos
                    datos del usuario, así como identificar de manera única el navegador del visitante o para almacenar
                    información o configuraciones en el navegador. </li>
                </ol>
              </li>
              <li>¿Qué cookies y otras tecnologías utiliza Kamet? 
                <ol>
                  <li>Kamet utiliza cookies propias (aquellas que son creadas por Kamet por medio de sus desarrolladores
                    e ingenieros) y cookies de terceros (aquellas que son creadas por terceros ajenas a Kamet). </li>
                </ol>
              </li>
              <li>Kamet utiliza, de forma específica, las siguientes cookies:
                <ol>
                  <li>Cookies de desempeño, aquellas que permiten a Kamet monitorear el desempeño de su página web y
                    plataforma, al poder visualizar y contar el número, fecha y hora de visitas realizadas;</li>
                  <li>Cookies de preferencias, aquellas que permiten a Kamet reconocer tus preferencias, tomando en
                    cuenta tu visita a nuestro sitio web y a otros sitios web;</li>
                  <li>Cookies de análisis, aquellas que Kamet utiliza;</li>
                  <li>Cookies propias y de terceros para realizar análisis relacionado al funcionamiento y uso de
                    nuestra plataforma;</li>
                  <li>Identificadores de dispositivos móviles: son aquellas etiquetas que permiten identificar
                    dispositivos móviles;</li>
                  <li>Etiquetas de píxel, aquellas utilizadas por Kamet para aprender tus intereses e interacción con
                    nuestra plataforma y plataforma de terceros para poder personalizar e individualizar la experiencia
                    del usuario; </li>
                  <li>Otras cookies y tipos de tecnología, utilizamos otro tipo de cookies y tecnología para mejorar tu
                    experiencia general en nuestra plataforma y para ello, recopilamos información que nos permita
                    conocer tus preferencias y opciones para mejorar la plataforma; y,</li>
                  <li>Cookies de grabación, Kamet podrá grabar llamadas telefónicas de soporte a clientes, grabación de
                    pantalla cuando se usa la plataforma tecnológica y en general la grabación de tecnología que permita
                    a Kamet mejorar el servicio y la experiencia del Cliente, así como mejorar la calidad de los
                    servicios ofrecidos. La grabación será utilizada únicamente para los fines establecidos en el
                    Aviso. </li>
                </ol>
              </li>
              <li>¿Para qué fines utiliza Kamet las cookies y otras tecnologías?
                <ol>
                  <li>Reconocerle cuando inicie sesión en la plataforma o página web de Kamet</li>
                  <li>Reconocer y dar seguimiento a sus preferencias;</li>
                  <li>Recopilar información que nos permita proporcionarle una experiencia personalizada y única,
                    atendiendo a sus intereses y preferencias;</li>
                  <li>Recopilar información que nos permita reconocer y reparar errores o fallas que pueda presentar la
                    plataforma tecnológica;</li>
                  <li>Recopilar información que nos permite apoyarte en caso que tengas algún problema con la plataforma
                    tecnológica;</li>
                  <li>Realizar análisis sobre la forma de interactuar y el tiempo de uso de nuestra plataforma con el
                    objetivo de mejorar la experiencia;</li>
                  <li>Rastrear y con ello mejorar el uso de nuestra plataforma;</li>
                  <li>Permitir que el contenido de Kamet sea más interesante para las preferencias del cliente;</li>
                  <li>Conocer cuáles son los servicios, dentro de los que ofrece Kamet, que son los más utilizados;</li>
                  <li>Recordar las acciones de los usuarios dentro de la plataforma;</li>
                  <li>Monitorear el estado de los servidores que utiliza Kamet para poner a tu disposición la página web
                    y plataforma;</li>
                  <li>Mejorar la velocidad y accesibilidad a nuestra página web y plataforma,</li>
                  <li>Mejorar la seguridad;</li>
                  <li>Personalizar los servicios que utiliza el cliente; y,</li>
                  <li>Mejorar los servicios. </li>
                </ol>
              </li>
              <li>¿Qué información se almacena en las cookies?
                <ol>
                  <li>Navegador y sistema operativo utilizado para ingresar a nuestra plataforma; </li>
                  <li>Enlace utilizado para acceder a nuestra plataforma; </li>
                  <li>Dirección IP y servidores; </li>
                  <li>Fecha y hora de acceso a nuestro sitio, así como el tiempo que utilizas nuestra plataforma; </li>
                  <li>Ligas visitadas; y, </li>
                  <li>Información relacionada a sus preferencias y forma de mejorar la experiencia Kamet, al conocer y
                    adaptar nuestro servicio a sus necesidades. </li>
                </ol>
              </li>
              <li>¿Quién es el responsable en el uso y manejo de las cookies? 
                <ol>
                  <li>Kamet y sus proveedores de riesgo, software o seguridad que estén vinculados con los Servicios de
                    Tarjetas.</li>
                </ol>
              </li>
              <li>¿Cómo desactivar las cookies? 
                <ol>
                  <li>Podrás desactivar las cookies en cualquier momento, siguiendo el proceso establecido por su
                    navegador (Google Chrome, Firefox, o cualquier otro); y,</li>
                  <li>Modificar y cancelar el uso de una, algunas o la totalidad de cookies en el apartado
                    correspondiente en nuestra página web. </li>
                </ol>
              </li>
            </ol>
            <p>Debe tomar en consideración que la desactivación de las cookies no restringe su acceso a la página web o
              plataforma, pero puede afectar el funcionamiento y la experiencia que Kamet te ofrece. </p>
            <p>Cualquier modificación a este aviso de privacidad podrás consultarla en <a href="https://www.kamet.mx"
                target="_blank">https://www.kamet.mx</a>.</p>
          </li>
        </ol>

        <p>Fecha de última actualización: 24 de abril de 2023.</p>
      </div>
    </div>
  </section>
</ion-content>
